<div class="hamburger-menu-breadcrumb">
  <div class="menu-item-wrapper shop" [ngClass]="hamburgerMenuContentState" routerLink="/shop" routerLinkActive="active">
    <div class="menu-item shop">
      shop
    </div>
  </div>
  <div class="menu-item-wrapper videos" [ngClass]="hamburgerMenuContentState" routerLink="/videos" routerLinkActive="active">
    <div class="menu-item">
      videos
    </div>
  </div>
  <div class="menu-item-wrapper music">
    <div class="menu-item">
      music
    </div>
  </div>
  <div class="menu-item-wrapper bio">
    <div class="menu-item">
      bio
    </div>
  </div>
  <div class="menu-item-wrapper placeholder" style="display: none">
    <div class="menu-item">
      placeholder
    </div>
  </div>
</div>