@import 'variables'

.shop-item-page
  background rebeccapurple
  bottom 0
  height 100%
  left 0
  padding $space
  position absolute
  width 100%

  .shop-item-page-overflow
    background black
    bottom 0
    left $space
    overflow hidden
    overflow-y auto
    position absolute
    right $space
    top 90px

    .shop-item-page-content
      bottom 0
      display flex
      flex-wrap wrap
      left 0
      overflow-y auto
      padding $space
      padding-right 2rem
      position absolute
      right -17px
      top 0
      justify-content center
      align-items center

  .loading-screen
    color white
