@import 'variables'

.shop-item-page
  background rebeccapurple
  bottom 0
  height 100%
  left 0
  padding $space
  position absolute
  width 100%

  .shop-item-page-overflow
    background black
    bottom 0
    left $space
    overflow hidden
    overflow-y auto
    position absolute
    right $space
    top 90px

    .shop-item-page-content
      bottom 0
      left 0
      overflow-y auto
      padding $space-medium
      padding-right 2rem
      position absolute
      right -17px
      top 0
      justify-content center
      align-items center

      .shopping-item
        display flex

        .shopping-item-images-wrapper
          padding 0

        .shopping-item-details-wrapper
          .shopping-item-details
            position sticky
            top 0
            color white

          .size-buttons-wrapper
            display flex

            .size-button
              background green

              &:hover
                background none
                cursor pointer

          .add-to-cart-button
            background red
            cursor pointer

            &:hover
              background none

  .loading-screen
    color white
