<div class="shop-item-page">
  <!-- <div class="shop-page-overflow" [@pageLoadingState]="getPageState()"></div> -->
  <div class="shop-item-page-overflow">
    <div class="shop-item-page-content">
      <div class="shopping-item" *ngIf="currentShoppingItem; else loading" (click)="addItemToShoppingCart(currentShoppingItem)">
        <div class="shopping-item-images">
          <img [src]="currentShoppingItem.coverImage">
          <img *ngFor="let item of currentShoppingItem.descriptionImages" [src]="item">
        </div>
        <div class="shopping-item-details">
          <div class="text">
            {{currentShoppingItem.description}}
          </div>
        </div>
      </div>
      <ng-template #loading>
          <div class="loading-screen">
            loading...
          </div>
      </ng-template>
    </div>
  </div>
</div>
