<div class="shop-page">
  <div class="shop-page-overflow" [@pageLoadingState]="getPageState()">
    <div class="shop-page-content">
        {{getPageState()}}
        <!-- <div class="shopping-item" *ngFor="let item of shoppingItems" (click)="addItemToShoppingCart(item)">
          <img [src]="item.coverImage">
        </div> -->
        <div class="shopping-item" *ngFor="let item of shoppingItems" [routerLink]="[item.id]">
          <img [src]="item.coverImage">
        </div>
      </div>
  </div>
</div>
