@import 'variables'

.shop-page
  position absolute
  left 0
  bottom 0
  height 100%
  width 100%
  padding $space
  background rebeccapurple

  .shop-page-content
    background black
    bottom 0
    left $space
    padding $space
    position absolute
    right $space
    top 90px
