@import 'variables'

.shop-item-page
  background rebeccapurple
  bottom 0
  height 100%
  left 0
  padding $space
  position absolute
  width 100%

  .shop-item-page-overflow
    background black
    bottom 0
    left $space
    overflow hidden
    overflow-y auto
    position absolute
    right $space
    top 90px

    .shop-item-page-content
      bottom 0
      left 0
      overflow-y auto
      padding $space-medium
      padding-right 2rem
      position absolute
      right -17px
      top 0
      justify-content center
      align-items center

      .shopping-item
        display flex

        .shopping-item-images-wrapper
          padding 0

        .shopping-item-details-wrapper
          .shopping-item-details
            position sticky
            top 0
            color white

          .size-buttons-wrapper
            display flex
            margin-top $space
            font-size: $font-size-large
            justify-content: space-around

            .size-button
              display flex
              justify-content center
              flex-grow 1
              
              &.selected
                background blue

              &:hover
                background green
                cursor pointer

          .add-to-cart-button
            cursor pointer
            display flex
            font-size $font-size-large
            justify-content center
            margin-top $space

            &:hover
              background red
          
          .price
            display flex
            font-size $font-size-large
            justify-content flex-start

  .loading-screen
    color white
