@import 'variables'

.shop-item-page
  background rebeccapurple
  bottom 0
  color white
  height 100%
  left 0
  overflow hidden
  padding $space
  position absolute
  width 100%

  .shop-item-page-overflow
    background black
    bottom 0
    left $space
    overflow hidden
    position absolute
    right $space
    top 90px
    padding $space $space 0 $space

    .shop-item-page-content
      display flex
      flex-direction row
      height 100%

      .left-side
        flex 1 1 70%
        overflow hidden
        position relative

        .shopping-item-images-wrapper
          height 100%
          left 0
          overflow-y auto
          position absolute
          right -17px
          top 0

          .shopping-item-images
            display flex
            flex-direction column

            .details-image
              display block

      .right-side
        flex 1 1 30%

        .shopping-item-details-wrapper
          margin-left $space

          .image-slider
            display flex
            justify-content center
            flex 1 1 auto
            width 100px

            .slider-button
              width 100px
              cursor pointer

            .selected
              color red

  .loading-screen
    color white

