@import 'variables'

.dropdown
  position relative
  width 100%

  .selected-item
    background blue
    cursor pointer

  .items-wrapper
    background grey
    position absolute
    width 100%

    .item
      &.selected
        background green

      &.disabled
        background black

        &:hover
          cursor not-allowed

      &:hover
        background: red
        cursor pointer
