@import 'variables'

.dropdown
  width 100%

  .selected-item
    background blue
    cursor pointer

  .items-wrapper
    position absolute
    background black

    .item
      &.selected
        background green

      &:hover
        background: red
        cursor pointer
