.dropdown
  width 100%

  .selected-item
    background blue
    cursor pointer

  .items-wrapper
    position absolute

    .item
      &.selected
        background green

      &:hover
        background: red
        cursor pointer
