//Colours
$black-nero = #252525
$black-almost = #010101
$white-smoke = #F2F2F2

// Sizes and Spaces
$space = 1rem
$space-nudge = $space / 10
$space-micro = $space / 4
$space-small = $space / 2
// $space-medium-small = $space-small + $space-micro
$space-medium = $space * 1.5
$space-large = $space * 2
$space-x-large = $space * 2.5
$space-xx-large = $space * 3

@css
:export {
  spaceLarge: $space-large;
  spaceMedium: $space-medium;
}
