<div class="shopping-cart-button" [ngClass]="setButtonClasses()" (click)="toggleShoppingCart(shoppingCartContentState)">
  <span class="menu-bottom-line" [@bottomLineState]="shoppingCartContentState"></span>
  <!-- <span class="menu-left-line" [@leftLineState]="shoppingCartContentState"></span> -->
  <span class="menu-left-line"></span>
  <!-- <span class="menu-right-line" [@rightLineState]="shoppingCartContentState"></span> -->
  <span class="menu-right-line"></span>
  <span class="shopping-cart-items-count">{{shoppingCartItemsCount}}</span>
</div>
