@import 'variables'

.shopping-cart
  background black
  color white
  height 100vh
  position absolute
  width 100vw
  z-index $layer-top-sub

  .shopping-cart-overflow
    background black
    bottom 0
    left $space
    overflow hidden
    overflow-y auto
    position absolute
    right $space
    top 90px

    .shopping-cart-content
      // align-items center
      flex-direction column
      bottom 0
      display flex
      // flex-wrap wrap
      justify-content start
      left 0
      overflow-y auto
      padding $space
      padding-right 2rem
      position absolute
      right -17px
      top 0

      .shopping-cart-item
        display flex
        align-items center
        justify-content space-between
        font-size $font-size-large
        flex 1 0 auto

        .cover
          width 8rem

          img
            max-width 100%

        .name
          font-size $font-size-x-large
