@import 'variables'

.shopping-cart
  background black
  color white
  height 100vh
  position absolute
  width 100vw
  z-index $layer-top-sub

  .shopping-cart-overflow
    background black
    bottom 0
    left $space
    // overflow hidden
    // overflow-y auto
    position absolute
    right $space
    top 90px

    .shopping-cart-content
      bottom 0
      display flex
      flex-direction row
      justify-content start
      left 0
      overflow-y hidden
      padding $space
      padding-right 2rem
      position absolute
      right 0
      top 0

      .left-side
        flex-grow 1
        position relative
        overflow hidden

        .shopping-cart-items-wrapper
            bottom 0
            left 0
            position absolute
            right -17px
            top 0
            overflow-y auto

          .shopping-cart-item
            align-items center
            display flex
            flex 1 0 auto
            font-size $font-size-large
            justify-content space-between

            .cover
              width 8rem

              img
                max-width 100%

            .name
              font-size $font-size-x-large

      .right-side
        align-items flex-end
        display flex
        margin-left $space-large

        .subtotal
          font-size $font-size-large