<div class="shopping-cart" [@shoppingCartContentState]="shoppingCartContentState">
  <div class="shopping-cart-overflow">
    <div class="shopping-cart-content">
      <div class="shopping-cart-item" *ngFor="let item of shoppingCartItems">
        <div class="cover">
          <img [src]="item.coverImage">
        </div>
        <div class="name">
          {{item.name}}
        </div>
        <div class="size">
          {{item.size}}
        </div>
        <div class="count">
          {{item.count}}
        </div>
        <div class="delete" (click)="deleteShoppingCartItem(item)">
          delete
        </div>
      </div>
    </div>
  </div>
</div>
