<div class="hamburger-menu-content" [@hamburgerMenuContentState]="hamburgerMenuContentState">
  <div class="menu-items">
    <div class="menu-item-wrapper shop" routerLink="/shop" routerLinkActive="active" (click)="toggleHamburgerMenu(hamburgerMenuContentState)">
      <div class="menu-item shop">
        shop
      </div>
      <div class="menu-item-line"></div>
    </div>
    <div class="menu-item-wrapper videos" routerLink="/videos" routerLinkActive="active" (click)="toggleHamburgerMenu(hamburgerMenuContentState)">
      <div class="menu-item videos">
        videos
      </div>
      <div class="menu-item-line"></div>
    </div>
    <div class="menu-item-wrapper music">
      <div class="menu-item music">
        music
      </div>
      <div class="menu-item-line"></div>
    </div>
    <div class="menu-item-wrapper bio">
      <div class="menu-item bio">
        bio
      </div>
      <div class="menu-item-line"></div>
    </div>
    <div class="menu-item-wrapper placeholder" style="display: none">
      <div class="menu-item placeholder">
        placeholder
      </div>
      <div class="menu-item-line"></div>
    </div>
  </div>
  <div class="menu-logo">
  </div>
</div>
