<div class="hamburger-menu-wrapper">
  <div class="hamburger-menu-button" (click)="toggleHamburgerMenu(hamburgerMenuState)">
    <span class="menu-top-line" [@topLineState]="hamburgerMenuState"></span>
    <span class="menu-middle-line" [@middleLineState]="hamburgerMenuState"></span>
    <span class="menu-bottom-line" [@bottomLineState]="hamburgerMenuState"></span>
  </div>
  <!-- <div *ngIf="hamburgerMenuState === 'opened'" class="hamburger-menu-breadcrumb"> -->
  <div class="hamburger-menu-breadcrumb">
    <div class="menu-item-wrapper shop"  [ngClass]="hamburgerMenuState" routerLink="/shop" routerLinkActive="active">
      <div class="menu-item shop">
          shop
      </div>
    </div>
    <div class="menu-item-wrapper videos">
      <div class="menu-item">
        videos
      </div>
    </div>
    <div class="menu-item-wrapper music">
      <div class="menu-item">
        music
      </div>
    </div>
    <div class="menu-item-wrapper bio">
      <div class="menu-item">
        bio
      </div>
    </div>
    <div class="menu-item-wrapper placeholder" style="display: none">
      <div class="menu-item">
        placeholder
      </div>
    </div>
  </div>
  <div class="hamburger-menu-content-sublayer" [@hamburgerMenuSublayerState]="hamburgerMenuState"></div>
  <div class="hamburger-menu-content" [@hamburgerMenuContentState]="hamburgerMenuState">
    <div class="menu-items">
      <div class="menu-item-wrapper shop" routerLink="/shop" routerLinkActive="active" (click)="toggleHamburgerMenu(hamburgerMenuState)">
          <div class="menu-item shop">
            shop
          </div>
          <div class="menu-item-line"></div>
        </div>
        <div class="menu-item-wrapper videos">
          <div class="menu-item videos">
            videos
          </div>
          <div class="menu-item-line"></div>
        </div>
        <div class="menu-item-wrapper music">
          <div class="menu-item music">
            music
          </div>
          <div class="menu-item-line"></div>
        </div>
        <div class="menu-item-wrapper bio">
          <div class="menu-item bio">
            bio
          </div>
          <div class="menu-item-line"></div>
        </div>
        <div class="menu-item-wrapper placeholder" style="display: none">
          <div class="menu-item placeholder">
            placeholder
          </div>
          <div class="menu-item-line"></div>
        </div>
    </div>
    <div class="menu-logo">
    </div>
  </div>
</div>
