
@import 'variables'

$breadcrumb-space = 40px
$menu-first-item-space = 250px
$breadcrumb-item-height = 70px

.breadcrumb-menu
  color white
  font-size 5rem
  // height 100vh
  // position absolute
  text-transform uppercase
  // width 100vw

  .breadcrumb-item-wrapper
    padding-top 10px
    position absolute
    left 100px
    transition all .3s

    &.shop
      transform translateY($menu-first-item-space)

    &.videos
      transform translateY($menu-first-item-space + $breadcrumb-item-height)

    &.music
      transform translateY($menu-first-item-space + $breadcrumb-item-height * 2)

    &.bio
      transform translateY($menu-first-item-space + $breadcrumb-item-height * 3)

    &.selected
      z-index $layer-top

    &.selected.lower-z-index
      z-index $layer-basic

    &.selected.active
      display flex
      padding: 0
      transform translateY($breadcrumb-space)
      transition all .3s

      .selected-shopping-item-name
        color: red
        line-height 0.9

    &.selected.inactive
      visibility hidden

    .breadcrumb-item
      cursor pointer
      line-height .9
      margin-bottom -15px
      position relative
      transform translateX(0)
      transform translateY(0)
      transition all .3s
