@import 'variables'

.counter
  width 100%
  display flex

  .count-editor
    display flex
    margin-left $space-medium

    .add
      &:hover
        cursor pointer

    .remove
      &:hover
        cursor pointer
