@import 'variables'

.quantity-counter
  width 100%
  display flex

  .quantity-editor
    display flex
    margin-left $space-medium

    .add
      &:hover
        cursor pointer

    .remove
      &:hover
        cursor pointer
